ETHERSCAN_API_KEY=your_etherscan_api_key_here

EARLY_TRANSFER_LIMIT=250

MARKET_MIN_LIQUIDITY_USD=5000
MARKET_MIN_VOLUME_24H=10000
MARKET_MAX_TOKENS_PER_QUERY=25
MARKET_SEARCH_DELAY_MS=400

ACTOR_EARLY_TRANSFER_LIMIT=250
ACTOR_MIN_REPEAT_TOKENS=2
ACTOR_MAX_AVG_EARLY_INDEX=200
ACTOR_MAX_BEST_EARLY_INDEX=175
ACTOR_CONTRACT_CHECK_DELAY_MS=60

ACTOR_AUDIT_MIN_TIER1_TOKENS=5
ACTOR_AUDIT_MAX_TIER1_AVG_EARLY=80
ACTOR_AUDIT_MIN_TIER1_SCORE=1000

ACTOR_PROFIT_DEX_DELAY_MS=300
ACTOR_PROFIT_HIGH_LIQUIDITY_USD=100000
ACTOR_PROFIT_HIGH_VOLUME_24H=100000
ACTOR_PROFIT_MOMENTUM_24H_CHANGE=25
ACTOR_PROFIT_STRONG_MOMENTUM_24H_CHANGE=75
ACTOR_PROFIT_MAX_EXAMPLES_PER_ACTOR=16